---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-end">
      <nav class="flex gap-1">
        <Link href="/">
          home
        </Link>
         <span>
          {`/`}
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/casestudies">
          case studies
        </Link> <span>
          {`/`}
        </span>
        <Link href="/experience">
          experience
        </Link>
      </nav>
    </div>
  </Container>
</header>
